<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="stylesheet" type="text/css" href="/css/singlePost.css">
   <title>Post</title>
</head>
<body>
   <main>
      <a href="/blog" class="nav-btn">Home</a>
      <div class="post">
         <h1><%= post.postTitle %></h1>
         <p class="post-time"><%= post.postTime.toDateString()%> <%=post.postTime.getHours()%>:<%=post.postTime.getMinutes() %></p>
         <p class="post-content"><%= post.postContent %></p>
      </div>
      <div class="comment-main-container">
         <input type="text" class="comment-text" id="comment-text">
         <div class="comment-container">
            <% comments.forEach( comment => { %>
               <% if(comment.commentTime) { %>
                  <div class="comment">
                     <h3 class="comment-user"><%= comment.employeesName %></h3>
                        <p class="comment-time"><%= comment.commentTime.toDateString()%> <%=comment.commentTime.getHours()%>:<%=comment.commentTime.getMinutes() %></p>
                        <p class="comment-content"><%= comment.commentContent %></p>
                  </div>
               <% } %>
            <% }) %>
         </div>
      </div>
   </main>
   
   <script type="text/javascript" src="/js/singlePost.js"></script>
</body>
</html>